
.imgBox .itemRight{
	float: right !important;
	width: 300px !important;
	top: 135px;
	left: 45px;
}
.imgWrap ul{
	text-align: left;
	color: #de6a10;
	font-size: 18px;
}
.imgWrap ul li{
	list-style: disc outside;
	height:40px;
	
}
.imgBox .itemMid{
	width: 360px !important;
	left: 30px;
}
.imgBox .itemMid img{
	width: 360px !important;;
	margin-top: 105px;
}
.imgBox .itemLeft{
	width: 291px !important;
	left: 20px;
}
.imgBox .itemLeft img{
	width: 200px !important;;
	margin-top: 50px;
} 
.carousel-control{
	color: #333!important;
	background: none !important;
}
